* {
  box-sizing: border-box;
  background-color:azure;
  margin: 10px;
}



.container {
  border: solid black 5px;
  
}

h1 {
  color: black;
  text-align: center;
  font-size: 75px;
  font-family: 'Poppins';
  padding: 10px;
}

.subhead {
  text-align: center;
  font-size: 20px;
  font-family: 'poppins';
}



button {
  font-size: 24px;
  
}

.rock {
  background-image: url(images/rock.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 160px;
  width: 200px;
  border: none;
}

.paper {
  background-image: url(images/paper.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 160px;
  width: 200px;
  border: none;
}

.scissors {
  background-image: url(images/scissors.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 122px;
  width: 225px;
  border: none;
  margin-top: 25px;
  
}


.buttons {
  display: flex;
  justify-content: space-around;
    
}

.results p {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-family:monospace;
  height: 100px;
  white-space: pre-wrap;

}

.tally {
  
  font-size: 32px;
}

#playerScore {
  font-family:'poppins';


}

#computerScore {
  font-family: 'Courier New', Courier, monospace;
}

.startOver {
  background-color: mistyrose; 
}

.bottom  {
  display: flex;
  justify-content: space-between;
}

.bottom p {
  font-size: 24px;
  
}



.final {
  color: rgb(243, 73, 12);
  font-size: 60px;
  text-align: center;
  font-style:oblique;
  font-weight:700;
  font-family: 'poppins';
  font-stretch:wider;
}




